form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  input[type="text"], textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btnadd{
    background-color: skyblue;
    color: black;
  }
  .btnadd:hover{
    background-color:#3384d9 ;
  }
  button:hover {
    background-color: #1a68ba;
  }
  